<div class="row">
    <div class="col">
        <h1>ng-if</h1>
        <div *ngIf="mostrar" class="card bg-primary text-white mb-3" style="width: 100%">
            <div class="card-body">
                <h5 class="card-title">
                    {{frase.autor}}
                </h5>
                <p class="card-text">{{frase.mensaje}}</p>

            </div>
        </div>
        <button (click)="mostrar = !mostrar" class="btn-primary"> Ocultar</button>
    </div>
    <div class="col">
        <h1> Ng-for</h1>
        <hr>
        <ul class="list-group">
            <li *ngFor="let a of personajes; let i = index" class="list-group-item">
                {{i+1}} - {{a}}
            </li>

        </ul>


    </div>

</div>